@media screen and (min-width:300px) {
    html{
        font-size: 62,5%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        /* font-family: 'Poppins', sans-serif; */
    }
    
    body {
        background: rgb(22, 22, 22);
    }
    
    header{
        background:  rgb(22, 22, 22);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* display: none; */
        position: fixed;
        left: -100%;
        transition: .5s;
        z-index: 9;
    }

    header.active{
        left: 0;
    }

    .icon {
        position: fixed;
        width: 2rem;
        height: 2rem;
        top: 2rem;
        left: 2rem;
        z-index: 10;
    }

    .icon img {
        width: 100%;
        height: 100%;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 50vh;
        align-items: center;
    }

    a {
        font-size: 1.6rem;
        color: #f87800;
        text-decoration: none;
    }

    .hero{
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .logotipo {
        width: 7rem;
        height:7rem;
        position: relative;
        animation-name: levitation;
        animation-iteration-count: infinite;
        animation-duration: 2s;
    }

    @keyframes levitation {
        0% {
            top :0px;
        }

        50%{
            top: 20px;
        }

        100% {
            top :0px;
        }
    }

    .titulo {
        color: #f87800;
        font-size: 2.5rem;
        font-weight: bolder;
    }

    .icon-burger {
        width: 100%;
        height: 100%;
    }

    .menu{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .tarjetas {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }

    .tarjeta {
        width: 100%;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background: rgb(39, 39, 39);
        border-radius: .6rem;
    }

    .tarjeta img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 1rem;
        border-radius: .6rem;
    }

    button {
        padding: .7rem;
        border-radius: .6rem;
        border: none;
        background: #f87800;
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }

    .galeria {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .galeria__img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .galeria__img .img {
        width: 50%;
        opacity: .1;
        transition: .5s;
    }
    
    .img.active {
        transition: .5s;
        opacity: 1;
    }

    .more{
        width: 2.5rem;
        height: 2.5rem;
        position: fixed;
        bottom: 1.7rem;
        right: 1.7rem;
        z-index: 10;
    }

    .more img {
        width: 100%;
        height: 100%;
    }

    aside{
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: -100%;
        background: rgba(0, 0, 0, 0.384);
        transition: .5s;
    }

    aside.active{
        right: 0;
    }

    form{
        display: flex;
        flex-direction: column;
        background: #000;
        padding: 2rem;
        width: 65%;
        height: 50%;
        border-radius: 1rem;
    }

    label {
        color: #f87800;
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    input{
        margin-bottom: 1rem;
        padding: .3rem;
        background: rgb(24, 24, 24);
        border: none;
        color: white;
        border-radius: .5rem;
    }

    textarea{
        height: 50%;
        background: rgb(24, 24, 24);
        border: #f87800;
        color: white;
        padding: .3rem;
        border-radius: .5rem;
        margin-bottom: 1rem;
        resize: none;
    }

    footer {
        background: #f87800;
        padding: 2rem;
        text-align: center;
        font-weight: bold;
    }
}

@media screen and (min-width:625px){

    .icon {
        width: 3rem;
        height: 3rem;
    }

    .more {
        width: 4rem;
        height: 4rem;
    }

    .logotipo {
        width: 14rem;
        height: 14rem;
    }

     .titulo {
         font-size: 5rem;
     }

     .tarjetas{
         width: 100%;
         justify-content: space-evenly;
     }

     .tarjeta{
         width: 40%;
     }

     .galeria__img .img{
         width: 33%;
     }
}

@media screen and (min-width:850px){
    .icon {
        display: none;
    }

    .more {
        display: none;
    }

    .container{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

    header{
        width: 100%;
        height: auto;
        position: static;
        background: #222222;
    }

    nav {
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
        width: 50%;
        padding: 1.5rem;
    }

    main {
        width: 100%;
    }

    .tarjetas {
        width: 80%;
    }

    .tarjeta {
        width: 24%;
    }

    .hero {
        width: 100%;
    }

    .galeria{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    .galeria__img .img{
        width: 20%;
        opacity: 1;
    }

    aside {
        position: static;
        width: 100%;
    }
}